Simple table styling table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Form styling */
form {
    margin: 20px 0;
}

input[type="file"],
input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.back_to_profile {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

.back_to_profile:hover{
    background-color: #3e8e41;
}